body {
  font-family: 'Open Sans';
  color: #141E46;
  background-color: #F2F7FF;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  align-content: start;
}

.navbar-grid {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1; /* Add this line */
}

.lesson-grid {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1; /* Add this line */
}

img {
  max-width: 25%;
}

button, nav {
  font-family: 'Nunito';
  font-size: 18px;
}

/* nav {
  border-right: 20px solid #141E46;
} */

ul {
  list-style-type: none;
  color: #141E46;
  /* position: fixed; */
}

button:hover {
  background-color: #279EFF;
}

.button.selected {
  background-color: #337CCF;
  color: white;
}

p {
  font-size: 18px;
}

.feedback {
  font-family: 'Nanum Pen Script';
  font-size: 30px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
