/* Styles each section */

/* Puts space between sections */
.section {
    margin-bottom: 80px;
}

.main-content {
    grid-column: 1;
    grid-row: 2;
}

/* Styles all answer buttons */
.answer-buttons {
    grid-column: 1;
    grid-row: 3;
    padding: 7px;
    border-radius: 6%;
    margin-right: 1rem;
}
  
/* Styles each answer button */
    .answer-buttons button {
    border: 1px solid #141E46;
}

/* Styles text-to-speech activation button */
.audio {
    max-width: 50%;
}

/* When answer button is clicked */
.answer-buttons.selected {
    background-color: #337CCF;
    color: white;
}

/* Puts feedback in right column */
.feedback {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
  }