form {
    border: 5px solid blue;
}

input {
    padding-bottom: 100px;
    width:70%;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
}

input:focus {
    outline: none;
}

.submit {
    display: block;
}