.each-comment {
    border: 1px solid #141E46;
    background-color: white;
    padding: 0 10px 0 20px;
}

.timestamp {
    font-size: 13px;
    display: inline;
    float: right;
    margin-right: 10px;
}

.avatars {
    width: 60px;
    margin-left: -13px;
}

.poster {
    display: inline;
}